@import '../abstracts/variables.scss';

.panel-inputs{
  height: 100%;
}

.headings-div {
  display: flex;
  flex-flow: row wrap;
  margin: 2rem 2rem;
  h1 {
    font-family: $Display;
    font-size: 2rem;
    font-weight: bold;
    color: $PrimaryWhite;
    padding: 3rem 0rem;
  }
  h3 {
    font-family: $Display;
    font-size: 1rem;
    font-weight: bold;
    color: $PrimaryWhite;
  }

}

//select and input div
.input-div {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  width: 75%;
  margin: 2rem;
    h6{
    font-family: $Content;
    font-size: .75rem;
    color: $LightGrey1;
  }
  select{
    height: 2.5rem;
    background-color: $PrimaryBlack;
    border: 1px solid $LightGrey1;
    box-sizing: border-box;
    font-family: $Content;
    color: $PrimaryWhite;
    &:hover{
      cursor: pointer;
    }
  }
  input{
    height: 2.5rem;
    background-color: $PrimaryBlack;
    border: 1px solid $LightGrey1;
    box-sizing: border-box;
    font-family: $Content;
    color: $PrimaryWhite;
  }
}

//button css
.panel-btn{
  width: 75%;
  margin: 2rem;
  button {
    height: 2.5rem;
    width: 100%;
    background-color: $PrimaryBrand;
    font-size: 1rem;
    font-weight: bold;
    font-family: $Content;
    color: $PrimaryWhite;
    padding: .5rem 2rem;
    border: 1px solid $PrimaryBlack;
    box-sizing: border-box;
    border-radius: 8px;
    &:hover {
      cursor: pointer;
      background-color: $Affirmation;
      border: 1px solid $PrimaryBlack;
      color: $PrimaryBlack;
    }
  }
}

.gen-headings{
  margin: 1rem 2rem;
  h1{
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
}

.panel-gen-btn{
  button{
    padding: .5rem .5rem;
  }
}