@import '../abstracts/variables.scss';

.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  height:30px;
  width: 300px;
  margin: 15px 0;
}

.progress-done {
  // background-color: green;
  border-radius: 20px;
  font-family: $Content;
  font-weight: bold;
  color: $DarkGrey1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  // width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}