@import "src/Styles/abstracts/variables.scss";

.GennyTitle {
font-size: 44px;
color: $PrimaryWhite;
grid-row: 5 / 9;
font-family: $Display;
margin-bottom: 100px;
margin-top: 20px;
text-shadow: 1px 1px $PrimaryBlack;
}


//sude bar
.table-gen-options{
  grid-column: 2 / 4;
  grid-row: 2 / -1;
  background-color: $DarkGrey1;
  margin-left: 1rem;
  font-family: $Content;
  
}
.create-table {
  margin-bottom: 80px;
}
 
.table-preview-container {
  display: flex;
}
//input fields on generator
.create-table-input{
  background-color: $PrimaryBlack;
  height: 40px;
  width: 20rem;
  border: 2px solid white;
  color: $PrimaryWhite;
  font-size: 25px;
  margin-bottom: 10px;

}

//select table dropdown
.categorySelector {
  background-color: $PrimaryBlack;
  border: 2px solid white;
  width: 20rem;
  height: 40px;
  color: $PrimaryWhite;
  margin-bottom: 10px;
  font-size: 25px;
}

//catgegory and subcategory
.category {
  background-color: $PrimaryBlack;
  border: 2px solid white;
  height: 40px;
  // margin-top: 20px;
  color: $PrimaryWhite;
  width: 20rem;
  margin-bottom: 10px;
  font-size: 25px;
}



.createTable { 
  color: $PrimaryWhite;
  font-size: 25px;
  margin-bottom: 10px;
  font-family: $Display;
  // margin-top: 30px;
}


//green create table, create column buttons
.panel-buttons {
  justify-content: center;
  background-color: $Affirmation;
  height: 60px;
  width: 260px;
  margin-top: 20px;
  border-radius: 100px;
  border: 1px solid black;

}

//ggreen buttons text
.panel-buttons span {
  font-size: 20px;
  font-family: $Content;
}

.input-label {
  font-size: 20px;
  font-family: $Content;
  color: $PrimaryWhite;
}

.input-container {
}


.create-column {
  justify-items: end;
}


.downloadbutt {
  display: flex;
  justify-content: center;
  align-content: center;
}


.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  font-family: $Display;
}
















