// @import 'abstracts/variables.scss';

.columnth {
  color: green;
}

.columntr {
  color: green;

}

.container {
  // color: white;
  // background-scolor: grey;
  border: 5px solid white;
}

.tableContainer {
  border: 1px solid white;
}