@import "src/Styles/abstracts/variables.scss";

.GennyTitle {
font-size: 44px;
margin-bottom: 200px;
margin-top: 100px;
color: $PrimaryWhite;
}

.table-gen-options{
  grid-column: 2 / 4;
  grid-row: 2 / -1;
  background-color: $DarkGrey1;
  margin-left: 18px;
  color: $PrimaryWhite;
}

.create-table {
  margin-bottom: 100px;
  // border: 10px solid white;
}

//input fields on generator
.create-table-input{
  background-color: $PrimaryBlack;
  height: 60px;
  width: 360px;
  border: 2px solid white;
  color: $PrimaryWhite;

}


.categorySelector {
  background-color: $PrimaryBlack;
  // color: $PrimaryWhite;
  border: 2px solid white;
  margin-top: 20px;
  width: 360px;
  height: 60px;
  color: $PrimaryWhite

}

.category {
  background-color: $PrimaryBlack;
  border: 2px solid white;
  height: 60px;
  margin-top: 20px;
  color: $PrimaryWhite;
  width: 360px;
}



.createTable { 
  color: $PrimaryWhite;
  font-size: 40px;
  margin-bottom: 40px;
  // border: 2px solid white;

}

.panel-buttons {
  display: flex;
  justify-content: center;
  background-color: $Affirmation;
  height: 60px;
  width: 260px;
  margin-top: 85px;
  // font-size: 20px;
  border-radius: 50px;
  border: 1px solid black;
  // font-size: 40px;

}


.panel-buttons span {
  font-size: 20px;
  font-weight: bold;
}

.input-label {
  font-size: 20px;
}

.input-container {
  margin-top: 20px;
}


.create-column {
  justify-items: end;
}






















