@import '../abstracts/variables.scss';

.heading-div{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0rem 2rem;
  margin-top: 2rem;
  h1{
    font-family: $Display;
    font-size: 1.5rem;
    font-weight: bold;
    color: $PrimaryBlack;
  }
}


#delete-btn-tb{
  margin: 0rem;
  width: auto;
  button{
    font-size: .75rem;
    padding: 0rem 0rem;
    margin: .25rem 2rem;
    height: 1.25rem;
    width: 100%;
    background-color: $DarkGrey2;
    font-weight: bold;
    font-family: $Content;
    color: $PrimaryWhite;
    border: 1px solid $DarkGrey2;
    box-sizing: border-box;
    border-radius: .25rem;
    &:hover{
      background-color: $Warning;
      border: 1px solid $Warning;
    }
  }
}



.delete-cl-btn {
  font-family: $Content;
  background-color: $DarkGrey2;
  color: $PrimaryWhite;
  border: 1px solid $DarkGrey2;
  box-sizing: border-box;
  border-radius: .25rem;
  margin-left: 1rem;
  font-size: .75rem;
  padding: 0rem 1rem;
  &:hover {
    border: 1px solid $Warning;
    background-color: $Warning;
  }
}

.tableContainer {
  height: auto;
  margin: 0rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow: auto;
  overflow-x: auto;
  filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.25));
}

.columnth {
  background-color:$PrimaryBrand;
  min-width: 10rem;
  height: 2.5rem;
  text-align: center; 
  filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.25));
}

#colTitle {
  font-size: 1rem;
  font-family: $Content;

}

.columntd {
  background-color: white;
  color: black;
  min-width: 240px;
  height: 3.5rem;
  text-align: center;
  font-family: $Content;
  filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.25));
}
