@import 'src/Styles/abstracts/variables.scss';

.table-gen-options{
  display: grid;
  height: 100%;
  width: 100%;
  background-color: #1a1d1e;

}

.sub-panels {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  

  h1 {
    color: $white;
    font-size: 3rem;
    padding: 1rem 0rem;
  }
}

.create-table{
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
  padding: 3rem;
  background: $darkgray;

  h2{
    color: $white;
    font-size: 1.5rem;
  }

  button {
    margin-top: 2rem;
  }

}

.create-column{
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
  padding: 3rem;
  background: $darkgray;
  justify-content: space-around;

  h2{
    color: $white;
    font-size: 1.5rem;
  }

  button {
    margin-top: 2rem;
  }

  select {
    width: 50%;
    font-size: 2rem;
    color: $gray;
    background-color: $black;
  }

  select:active, select:hover {
    outline-color: red
  }

}

//////////-----css for the table inputs //////////

.input-container {
  position: relative;
  padding: 2rem 0 0;
  width: 50%;
}

.create-table-input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 1rem 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .input-label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.input-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.create-table-input:focus {
  ~ .input-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.create-table-input{
  &:required,&:invalid { box-shadow:none; }
}

/////////////////////left panel create button///////////@at-root
.panel-buttons {
  letter-spacing: .02rem;
  cursor: pointer;
  background: transparent;
  border: .5rem solid currentColor;
  padding: 1.5rem 2rem;
  font-size: 2.2rem;
  color: $primary;
  position: relative;
  transition: color .3s;
  
  &:hover {
    color: $secondary;
    &::before { width: 0; }
    &::after { height: 0; }
  }
  &:active {
    border-width: .5rem / 2;
  }
  
  span {
    position: relative;
    z-index: 2;
  }
  &::before, &::after {
    content: '';
    position: absolute;
    background: $darkgray;
    z-index: 1;
    transition: all .3s;
  }

  &::before {
    width: calc(100% - #{3rem});
    height: calc(101% + #{.5rem * 2});
    top: -.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
  &::after {
    height: calc(100% - #{3rem});
    width: calc(101% + #{.5rem * 2});
    left: -.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
}