@import '../abstracts/variables.scss';

.about-container {
  grid-column: 3 / 12;
  grid-row: 2 / -1;
  padding: 5rem 0rem;
}

.about-background-frame{
  background-color: $LightGrey1;
  height: 100%;
  border: 3px solid $LightGrey1;
  border-radius: 20px;
}
