@import '../abstracts/variables.scss';

.data-gen-container {
  grid-column: 2/-1;
  grid-row: 2 / -1;
}

.data-panel-container {
 grid-area: p;
  background-color: $DarkGrey1;
  display: flex;
  flex-flow: column nowrap;
}

.data-preview-container {
  grid-area: c; 
  background-color: lightblue;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}


