// @import 'abstracts/variables.scss';

.dataViz
 {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  margin-left: 3rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #f3eff5;
}