@import '../abstracts/variables.scss';


.data-viz-container{
  display: grid;
  grid-template-columns: auto repeat(11, 1fr);
  grid-template-rows: auto repeat(3, 1fr);
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  height: 100%;
  width: 100%;
  background-color: $DarkGrey2;
}

.data-viz-panel {
  grid-column: 2/ 4;
  grid-row: 2 / -1;
  background-color:$DarkGrey1;
  border-right: 1px solid $LightGrey1;
}

.data-viz-dash-wrapper{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column: 4 / -1;
  grid-row: 2 / -1;
  height: 100%;
  width: 100%;
}

.data-viz-dash{
  grid-column: 2 / 12;
  grid-row: 2 / 12;
  border: 3px solid $LightGrey1;
  border-radius: 20px;
  background-color: $LightGrey1;
}