@import '../abstracts/variables.scss';

.home-container {
  grid-column: 3 / 12;
  grid-row: 2 / -1;
  padding: 5rem 0rem;
}

.home-background-frame{
  background-color: $LightGrey1;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  height: 100%;
  border: 3px solid $LightGrey1;
  border-radius: 20px;
}
