@import '../abstracts/variables.scss';

.home-container {
  grid-column: 3 / 12;
  grid-row: 2 / -1;
  padding: 5rem 0rem;
}

.home-background-frame{
  background-color: $LightGrey1;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  height: 100%;
  border: 3px solid $LightGrey1;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  justify-items: center;
  // align-content: center;
  align-items: center;
  padding: 2rem;
}


// //logo
.homeIcon {
  height: 100%;
// grid-row: 4;
// grid-column: 2;
// margin-bottom: 50px;;

}

#homeIcon {
  height: 100%;
grid-row: 3 / 6;
grid-column: 4 / 7;
padding-top: 3rem;
}


//wekcome to squrl
.welcome {
  font-size: 4rem;
  font-weight: bold;
  // margin-bottom: 50px;
  color: $PrimaryWhite;
  font-family: $Display;
}

#welcome {
  grid-row: 2;
  grid-column: 1/-1;
}

//three p tags in div
.homeInfo {
  // grid-column: 1 / 4;
// grid-row: 7;
// margin-bottom: 20px;
// text-shadow: 0.2px 0.2px black;
  width: 500px;
  display: flex;
  justify-content: center;
  align-content: center;
  // max-height: 100px;
  text-align: center;
  flex-direction: column;
  color: white;
  font-family: $Content;
}
//each individual p tag
.introP {
  font-size: 2rem;
  font-family: $Content;
  padding: 1rem;
  line-height: 3rem;
  color: $PrimaryWhite;
  text-align: center;
}

a#aTag {
  color: $PrimaryWhite;  
  text-decoration: none;
}


#introP1, #introP2, #introP3{
  grid-row: 7 / -1;
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

 #introP2{
  grid-column: 4 / 7;
}

 #introP3{
  grid-column: 7 / -1;
}