@import '../abstracts/variables.scss';

.side-nav-container {
  grid-area: m;
  width: 4.5rem;
  margin: 0;
 
}

.side-nav-bar {
  height: 100%;
  width: 4.5rem;
  display: flex;
  flex-direction: column;
  background: $PrimaryBlack;
}

.nav-tab-items {
  background:$PrimaryBlack;
  border-right: 1px solid $LightGrey1;
  height: 100%;
  width: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  a{
    margin: .5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    &:focus {
      border-left: 2px solid $SecondaryBrand;
      svg {
        path{
          stroke: $PrimaryWhite;
        }
        ellipse{
          stroke: $PrimaryWhite;
        }
        polyline {
          stroke: $PrimaryWhite;
        }
      }
    }
    svg{
      width: 2.5rem;
      height: 2.5rem;
      path{
        stroke: $LightGrey1;
      }
      ellipse{
        stroke: $LightGrey1;
      }
      polyline {
        stroke: $LightGrey1;
      }
    }
  }
}