@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.top-nav-container {
  position: fixed;
  width: 100%;
  height: 4.5rem;
  background-color: $PrimaryBlack;
  display: flex;
  border-bottom: 1px solid $LightGrey1;
}

.top-icons{
display: flex;
justify-content: space-between;
width: 100%;
padding: 0rem 4.5rem;
align-items: center;
li {
  height: 2.5rem;
  img{
    height: 2.5rem;
  }
  a{
    svg {
      stroke: $PrimaryWhite;
      path {
        stroke: $PrimaryWhite;
      }
      polyline{
        stroke: $PrimaryWhite;
      }
    }
  }
  a:hover{
    cursor: pointer;
  }
}
}
