* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  list-style: none;
}

.About,
.dataGen,
.dataViz,
.home,
.settings {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  margin-left: 3rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #f3eff5;
}

button {
  padding: 1rem;
  // color: black;
  // background-color: purple;
}

body {
  background-color: #25272d;
}

// fields.tsx input fields for dunmmy generator

//full div surrounding entire container
#gencontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: grey;
}

#tables {
  display: inline-flex;
  flex-wrap: wrap;
  // width: 1500px;
  // margin-right: 50px;
  justify-content: center;
}
//full div surrounding field name, data type, % empty and add another column button
#geninputs {
  display: flex;
  flex-direction: column;
}
#column {
  margin-left: 20px;
}
#columnName {
  height: 50px;
  width: 170px;
  font-size: 18px;
}
// column namn input
#fieldName {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// dropdown for data type faker
#dataType {
  height: 50px;
  width: 170px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  text-align: center;
}
#category {
  height: 50px;
  width: 170px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  text-align: center;
}

// input for percent empty
#empty {
  width: 55px;
  height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}

#emptyText {
  font-size: 27px;
  display: flex;
  margin-top: 10px;
  align-content: center;
  justify-content: center;
}
// add column button generator
#addColumn {
  width: 150px;
  display: flex;
  justify-content: center;
}

//divs to hold generator inputs and in-line them because i forgot <br> existed
#percentagediv {
  display: inline-flex;
  margin-bottom: 30px;
}
#tablefields {
  margin-bottom: 50px;
  display: inline-flex;
}
#rowsfield {
  margin-bottom: 50px;
  margin-top: 50px;
  display: inline-flex;
  padding-right: 50px;
}
#duplicate {
  margin-bottom: 50px;
  display: inline-flex;
}
#formatoption {
  width: 90px;
  height: 45px;
  justify-content: center;
}
#formatinput {
  display: flex;
  justify-content: center;
  align-items: center;
}
#download {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
#gennytitle {
  margin-bottom: 100px;
  font-size: 70px;
}
#tablemanager {
  display: inline-flex;
}
#duplicatedata {
  display: flex;
  justify-content: center;
}
//padding for rows/tablename text
#tableInputText {
  padding-right: 10px;
}

.datagen_page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.panels {
  display: flex;
  margin-top: 2rem;
}
.table div {
  margin-top: 1rem;
  height: 75px;
  width: 600px;
  // overflow: scroll;
  overflow-x: scroll;
  overflow-y: hidden;
}
.title {
  text-align: center;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}
