.app-container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: auto repeat(11, 1fr);
  grid-template-rows:auto repeat(3, 1fr);
  grid-template-areas: 
  "h h h h h h h h h h h h"
  "m p p p c c c c c c c c"
  "m p p p c c c c c c c c"
  "m p p p c c c c c c c c"
  ;
}