
.side-nav {
  background-color: #0d0a0b;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}


.side-nav-active {
  width: 3rem;
  height: 100vh;
  top: 0;
  position: fixed;
  left: 0;
}

.nav-menu-items {
  display: flex;
  flex-direction: column;
  background: black;
  width: 100%;
  height: 100%;
  align-items: center;
}

.nav-text {
  display: flex;
  justify-content: start;
  list-style: none;
  height: 3.25rem;
  width: 100%;
}

.nav-text a {
  text-decoration: none;
  color: #f3eff5;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #72b01d;
}

.side-nav-toggle {
  background-color: #0d0a0b;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.settings-icon {
  margin-top: auto;
}

span {
  margin-left: 16px;
}
