.side-nav {
  background-color: #0d0a0b;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars,
.menu-bar {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #0d0a0b;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.side-nav.active {
  background-color: #0d0a0b;
  width: 250px;
  height: 100vh;
  display: flex;
  //   justify-content: center;
  align-items: flex-start;
  top: 0;
  position: fixed;
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f3eff5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #72b01d;
}

.nav-menu-items {
  width: 100%;
}
.side-nav-toggle {
  background-color: #0d0a0b;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}
